{% extends '_layout.html' %} {% block body %}
<div class="container">
	<br />
	<h1>Pet Finder - FAQ</h1>
	<div class="row">
		<div class="col">
			<p>Frequently Asked Questions</p>
			
			<hr>
			<h4>What should I know before adopting?</h4>
			<p>Before adopting, each person should research the needs and amount of care that
				the animal will need. For example, each person should know that a husky and
				a domestic cat have different exercise needs.
			</p>
			<hr>
			<h4>What is the process like?</h4>
			<p>The process is very simple. Each owner will be asked to fill out an application
				once they see an animal that they like, and based on the animal's needs the application
				will be accepted or denied. If accepted, there will be a quick screening and a fee depending
				on each animal.
			</p>
			<hr>
			<h4>How many animals can I adopt?</h4>
			<p>This is something that completely depends on the application and on the needs of the animals
				that you are looking to adopt. We generally can be flexible with the amount that you want to
				adopt, but it is something that goes by case-by-case.
			</p>
			<hr>
			<h4>Are there appointments to go see an animal?</h4>
			<p>You can call our phone number to set an appointment to see an animal, but they are very limited
				as there is limited rooms for people who have made an appointment already.
			</p>

		</div>
	</div>
</div>
{% endblock %}